:root {
  --textCol: #F6F0E5;
  --textShadow: black;
  --navyellow: #EDDB92;
  --neon-shadow-dark: #ccaa00;
  --titlegreen: #82AB51;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.navB {
  /* background: url("/plantwhitepot.jpeg"); */
  /* background-size: contain; */
  background-blend-mode:soft-light;
  /* background-color: var(--navyellow); */
  border-color: var(--textCol)!important;
  margin: auto; 
  max-width: 870px;
  min-width: 320px;
}

/* Targeting the brand text */
.navB .navbar-brand {
  color: var(--textCol);
  /* text-shadow: 1px 1px 1px var(--textShadow); */
}

/* Targeting link items within the navbar */
.navB .nav-link {
  color: var(--textCol);
  /* text-shadow: 1px 1px 1px var(--textShadow); */
}

/* Adjust the color for hover state as well */
.navB .nav-link:hover,
.navB .navbar-brand:hover {
  color: var(--textCol);
  /* text-shadow: 1px 1px 1px var(--textShadow); */
}

.title {
  font-family: "Single Day", cursive;
  font-size: 30px;
  color: var(--titlegreen) !important;
  text-shadow: 0 0 8px var(--navyellow), 0 0 3px var(--navyellow), 0 0 7px var(--navyellow), 0 0 20px var(--navyellow); /* Glow effect */

}

.searchB {
  font-family: "Single Day", cursive;
  font-weight: 600;
  color: var(--navyellow);
  text-shadow: 0 0 8px var(--titlegreen), 0 0 3px var(--navyellow), 0 0 7px var(--navyellow), 0 0 20px var(--navyellow); /* Glow effect */
}

.icon {
  font-size: 3rem;
  color: white;
}

.icon2 {
  font-size: 2rem;
  color: white;
}
/* .btn-outline-success:hover {
  background-color: #82AB51 !important;
} */

.navbar-toggler-icon {
  color: var(--navyellow); 
  border-color: var(--navyellow);
}




/* .burger {
  color: var(--navyellow)!important;
} */
/* #F6F0E5  */

body {
  margin: auto; 
  max-width: 960px;
  min-width: 320px;
  min-height: 100vh;
}

.mainB {

}

